extends layout

block content
    h1 #{title}
    form(method='POST', action='/medicine/add')
        #form-group
            label Medicine
            input.form-control(name='title', type='text')
        #form-group
            label Category
            input.form-control(name='category', type='text')
        br
        input.btn.btn-primary(type='submit', value='submit')